langchain
langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
tavily-python
trustcall
langgraph-cli
python-dotenv
rich>=13.0
pytest
pydantic
requests
uuid-utils
jsonpatch
httpx
xxhash
requests_toolbelt
openai
tiktoken
serpapi
fpdf2
panel>=1.3
hvplot
